@font-face {
    font-family: 'GoogleSans-Regular';
    src: url('../font/GoogleSans-Regular.otf') format('opentype');
}
@font-face {
    font-family: 'GoogleSans-Bold';
    src: url('../font/GoogleSans-Bold.otf') format('opentype');
}
@font-face {
    font-family: 'GoogleSans-Italic';
    src: url('../font/GoogleSans-Italic.otf') format('opentype');
}
@font-face {
    font-family: 'GoogleSans-Light';
    src: url('../font/GoogleSans-Light.otf') format('opentype');
}
@font-face {
    font-family: 'GoogleSans-Thin';
    src: url('../font/GoogleSans-Thin.otf') format('opentype');
}
@font-face {
    font-family: 'GoogleSans-Black';
    src: url('../font/GoogleSans-Black.otf') format('opentype');
}
@font-face {
    font-family: 'GoogleSans-Medium';
    src: url('../font/GoogleSans-Medium.otf') format('opentype');
}

